@{
    ViewData["Title"] = "Home Page";
}

<h1>Stock Manager</h1>
<p>Stock Manager is a program where you can create stock portfolios and add stocks to your portfolios.</p>
<p>It is connected to a SQL Server database, with CRUD operations handled by Entity Framework Core.</p>
<p>The UI is developed using ASP.NET Core, and relies heavily on modifications of scaffolded controllers & views.</p>
