@model IEnumerable<Stock>

<h2>@ViewBag.PortfolioName</h2>

<p>
    <a class="btn btn-primary" asp-action="BuyStock" asp-route-id="@ViewBag.PortfolioId">Buy stock</a>
    <a class="btn btn-primary" asp-action="SellStock" asp-route-id="@ViewBag.PortfolioId">Sell stock</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                <label>Stock</label>
            </th>
            <th>
                <label>Current share price (SEK)</label>
            </th>
            <th>
                <label>Number of shares</label>
            </th>
            <th>
                <label>Current market value (SEK)</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @await Component.InvokeAsync("StockInfoRow", new { portfolioId = ViewBag.PortfolioId, stockId = item.Id })
            </tr>
        }
    </tbody>
</table>
