@model StockManager.Models.StockPortfolio
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
    ViewBag.ActiveUserId = UserManager.GetUserId(User);
}

<h2>Create stock portfolio</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="ApplicationUserId" value="@ViewBag.ActiveUserId" type="hidden" contenteditable="false" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
