@model StockManager.Models.StockPortfolioViewModels.SellStockViewModel

<h2>Sell Stock</h2>

<form asp-action="SellStock">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="OwnedStockList" type="hidden" />
        <div class="form-group">
            <label asp-for="StockId" class="col-md-2 control-label">Select stock: </label>
            <div class="col-md-4">
                @*@Html.DropDownList("StockSelectList")*@
                <select asp-for="StockId" asp-items="Model.OwnedStockList" class="form-control" id="selected-stock-to-sell"></select>
                <span asp-validation-for="StockId" class="text-danger"></span>
            </div>
            <label class="col-md-2 control-label">Sell price: </label>
            <div class="col-md-4">
                <input type="text" min="1" value="1" id="sell-price" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfShares" class="col-md-2 control-label">Number of shares: </label>
            <div class="col-md-4">
                <input asp-for="NumberOfShares" min="1" value="1" class="form-control" id="shares-to-sell" />
                <span asp-validation-for="NumberOfShares" class="text-danger"></span>
            </div>
            <label class="col-md-2 control-label">Total price: </label>
            <div class="col-md-4">
                <p id="total-sell-price" class="form-control">1 SEK</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sell" class="btn btn-primary" />
            </div>
            <a class="btn btn-default" asp-action="Content" asp-route-id=@ViewBag.PortfolioId>Go back</a>
        </div>
    </div>
</form>